---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import SectionTitle from '../components/SectionTitle.astro';
import { contentfulClient } from "../lib/contentful";
import { documentToHtmlString } from "@contentful/rich-text-html-renderer";
import type { EntryFieldTypes } from "contentful";

// function getImageUrl(interview: Interview): string | undefined {
//   if (interview.image && interview.image.image && interview.image.image.fields && interview.image.image.fields.file) {
//     return interview.image.image.fields.file.url;
//   }
//   return undefined;
// }

export interface Interview {
  contentTypeId: "interviews";
  fields: Interviews;
}

export interface ImageFields {
  title: string;
  file: {
    url: string;
    details: {
      image: {
        width: number;
        height: number;
      };
    };
  };
}

export interface Interviews {
  slug: string;
  name: string;
  image: {
    fields: ImageFields;
  };
  description: string;
  social: string[];
  urlFlipbook: string;
}

const entries = await contentfulClient.getEntries<Interview>({
  content_type: "interviews",
});

const interviews = entries.items.map((item) => {
  return {
	slug: item.fields.slug,
	name: item.fields.name,
	description: item.fields.description,
	image: item['fields']['image']['fields']['file']['url'],
  };
});


---

<Layout title="Spotlight">
	<main>
		<header class="home-hero" role="banner">
			<img alt="poster image " class="poster  mx-auto block" src="hero.png" />
		</header>
		
		 <SectionTitle title="Interviews" />
				<div class="background-floating-image">
					<ul role="list" class="link-card-grid">
						{interviews.map((interview) => (
							<Card 
								href={interview.slug} 
								title={interview.name} 
								body={interview.description}
								image={interview.image}
							/>
						))}
					</ul>
			</div>
		</SectionTitle>
	</main>
</Layout>

<style>
#floating {
	transform: scaleX(-1);
}

main {
	margin: auto;
	overflow-x: hidden;
	color: white;
}

header.home-hero {
	max-width: 80vw;
	margin: auto;
}

header.home-hero img.poster {
	 object-fit: cover;
}

@media (min-width: 768px) {
	.home-hero img {
		height: 80vh;
	}
}


.link-card-grid {
		display: grid;
		grid-template-columns: repeat(1, minmax(0, 1fr));
		gap: 2rem;
		padding: 0;
		width: 800px;
		max-width: calc(100% - 2rem); 
		margin: auto;
}

.text-container {
		margin: auto;
		padding: 1rem;
		width: 800px;
		text-align: center;
		width: 100vw;
		max-width: calc(100% - 2rem); 
}

.text-gradient {
	background-image: var(--accent-gradient);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-size: 400%;
	background-position: 0%;
}
.instructions {
	margin-bottom: 2rem;
	border: 1px solid rgba(var(--accent-light), 25%);
	background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
	padding: 1.5rem;
	border-radius: 8px;
}
.instructions code {
	font-size: 0.8em;
	font-weight: bold;
	background: rgba(var(--accent-light), 12%);
	color: rgb(var(--accent-light));
	border-radius: 4px;
	padding: 0.3em 0.4em;
}
.instructions strong {
	color: rgb(var(--accent-light));
}

</style>
