---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import SectionTitle from '../components/SectionTitle.astro';
import { contentfulClient } from "../lib/contentful";
import { documentToHtmlString } from "@contentful/rich-text-html-renderer";
import type { EntryFieldTypes } from "contentful";

// function getImageUrl(interview: Interview): string | undefined {
//   if (interview.image && interview.image.image && interview.image.image.fields && interview.image.image.fields.file) {
//     return interview.image.image.fields.file.url;
//   }
//   return undefined;
// }

export interface Interview {
  contentTypeId: "interviews";
  fields: Interviews;
}

export interface ImageFields {
  title: string;
  file: {
    url: string;
    details: {
      image: {
        width: number;
        height: number;
      };
    };
  };
}

export interface Interviews {
  slug: string;
  name: string;
  image: {
    fields: ImageFields;
  };
  description: string;
  social: string[];
  urlFlipbook: string;
}

const entries = await contentfulClient.getEntries<Interview>({
  content_type: "interviews",
});

const interviews = entries.items.map((item) => {
  return {
	slug: item.fields.slug,
	name: item.fields.name,
	description: item.fields.description,
	image: item['fields']['image']['fields']['file']['url'],
  };
});


---

<Layout title="Spotlight">
	<main>
		<header class="home-hero relative" role="banner">
			<video playsinline autoplay muted loop poster="placeholder.png" id="bgvideo" class="z-0">
			  <source src="herovideo.mp4" type="video/mp4">
			</video>
			<div class="absolute inset-0 bg-black opacity-50 z-10"></div>
			<img alt="poster image mobile" class="poster object-contain mx-auto block sm:hidden z-0" src="placeholder.png" />
			<div class="container flex flex-row z-20">
				<div class="flex flex-wrap">
					<div class="w-full lg:w-12/12 flex flex-col justify-center text-white py-5 text-container">
					  <h1 class="font-bold mb-0 text-4xl md:text-7xl"><span class="block font-bold">Spotlight Project</span></h1>
					  <p class="text-3xl my-4">By  <a href="https://luanagoes.vercel.app" target="_blank">Luana Góes</a></p>
					  <p class="text-xl">A project where I interview artists who are dear to me ❤️</p>
					</div>
				  </div>
			</div>
		  </header>
		
		 <SectionTitle title="Interviews" />
				<div class="background-floating-image">
					<ul role="list" class="link-card-grid">
						{interviews.map((interview) => (
							<Card 
								href={interview.slug} 
								title={interview.name} 
								body={interview.description}
								image={interview.image}
							/>
						))}
					</ul>
			</div>
		</SectionTitle>
	</main>
</Layout>

<style>
#floating {
	transform: scaleX(-1);
}

.background-floating-image {
  position: relative;
  background-image: url('floating.png');
  background-size: cover;
}

.background-floating-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:  rgba(19, 21, 27, 0.463)
}

main {
	margin: auto;
	overflow-x: hidden;
	/* padding: 1rem; */
	/* width: 800px; */
	/* max-width: calc(100% - 2rem); */
	color: white;
	/* font-size: 20px; */
	/* line-height: 1.6; */
	
}

header.home-hero {
	position: relative;
	height: 89vh;
	min-height: 25rem;
	width: 100%;
	overflow: hidden;
	
}

header.home-hero .container {
    position: relative;
    height: 100%;
}

header.home-hero video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
	
}

header.home-hero img.poster {
    height: 100vh;
    min-height: 100vh;
    object-fit: cover;
    object-position: center;
    position: absolute;
    top: 0;
    left: 0;	
}
.link-card-grid {
		display: grid;
		grid-template-columns: repeat(1, minmax(0, 1fr));
		gap: 2rem;
		padding: 0;
		width: 800px;
		max-width: calc(100% - 2rem); 
		margin: auto;
}

.text-container {
        /* background-image: */
        /* linear-gradient(#1414142b, #0f0f0f, #000); */
        /* border-left: 2px solid #212121; */
        /* border-right: 2px solid #212121; */
		margin: auto;
		/* margin-top: 8rem; */
		padding: 1rem;
		width: 800px;
		text-align: center;
		/* background-color: red; */
		width: 100vw;
		max-width: calc(100% - 2rem); 
}

@media (max-width: 575.98px) {
		header.home-hero video {
			display: none;
	}
}

.text-gradient {
	background-image: var(--accent-gradient);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-size: 400%;
	background-position: 0%;
}
.instructions {
	margin-bottom: 2rem;
	border: 1px solid rgba(var(--accent-light), 25%);
	background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
	padding: 1.5rem;
	border-radius: 8px;
}
.instructions code {
	font-size: 0.8em;
	font-weight: bold;
	background: rgba(var(--accent-light), 12%);
	color: rgb(var(--accent-light));
	border-radius: 4px;
	padding: 0.3em 0.4em;
}
.instructions strong {
	color: rgb(var(--accent-light));
}

</style>
